@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&family=Rubik+Beastly&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border-color: lightgray;
}
.navbar {
  background-color: #343a40;
  color: white;
  padding: 10px;
  text-align: center;
  text-shadow: 2px 1px 1px white;
}
.icon img{
  width: 5%;
  height: 50px;
  position: absolute;
  left: 430px;
}

.form {
  width: 60%;
  margin: auto;
}
.input {
  width: 250px;
  margin: 10px;
  padding: 10px 0px 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}
.submitBtn {
  background-color: green;
  color: white;
  padding: 14px 15px;
  margin: 0px 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}
table {
  margin: 30px 10px;
}
td,
th,
tr {
  border: 1px solid black;
  padding: 5px 25px;
  border-color: gray;
  text-align: center;
}
th,
td {
  margin: 20px;
}
fieldset {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  min-height: 80vh;
}
legend {
  margin-left: 10px;
  text-shadow: 2px 1px 4px gray;
}
.delBtn {
  color: white;
  letter-spacing: 1px;
  background-color: black;
}
.delBtn:hover {
  letter-spacing: 2px;
  color: red;
  cursor: pointer;
}
.delBtn:active {
  color: green;
}
tbody > tr:hover {
  color: red;
  /* font-size: 18px; */
}
tbody > tr:active {
  color: green;
  font-size: 18px;
}
span {
  /* color: green; */
  /* font-size: 18px; */
  /* margin-left: 15px; */
  /* display: none; */
  /* animation-name: example; */
  /* animation-duration: 4s; */
}

@keyframes example {
  from {
    color: green;
    display: block;
  }
  to {
    color: transparent;
    display: none;
  }
}
